@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ubuntu:wght@300;400;500;700&display=swap');

header {
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

/* ------------------------------------------------ Navbar */

.navbar-custom {
    background-color: black;
    padding: 0;
}

.navbar-nav {
    float: right;
}

.fa-bars {
    color: red;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: red;
    float: left;
    font-size: 20px;
}

.navbar-custom .member {
    color: gray;
}

.logo {
    background: url(../images/RUD-logo-nav.png);
    width: 80%;
    margin-right: 0;
    margin-left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 50px;
    float: left;
}

/* ------------------------------------------------ Welcome */
.container {
    margin: 0;
}

.welcome-container {
    
    background: url("../images/explosion.jpg") no-repeat 85% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    margin: 0;
}

/* ------------------------------------------------ Headings */

.page-header {
    margin: auto;
    height: 60px;
    width: 200px;
    background-color: black;
    text-align: center;
    color: red;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.header-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ------------------------------------------------ About */

.band-container {
    background-color: gray;
}

.band-image { 
    width: 100%;
    padding: 20px 20px;
    vertical-align: middle;
    box-shadow: red;
}

.band-image-container {
    padding: 0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;    
}

.jumbotron {
    background: rgba(0, 0, 0, 0.5);
    color: gray;
    padding: 32px 16px;
    font-weight: 700;
}

.band {
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.band-member {
    width: 90%;
    margin: 0;
}

.band-member-image {
    width: 100%;
    height: 400px;
    margin: 0;
    background-size: contain;
    background-color: purple;
}

.tom {
    background: url(../images/tom.jpg) no-repeat 50% 20%;
}

.elliott {
    background: url(../images/elliott.jpg) no-repeat 30% 20%;
}

.matt {
    background: url(../images/matt.jpg) no-repeat 30% 20%;
}

.jamie {
    background: url(../images/jamie.jpg) no-repeat 50% 5%;
}

.band-member-bio {
    width: 100%;
    margin: 0;
    margin-left: 1rem;
    color: black;
}

.band-member-bio p {
    margin: 0;
}

/* ------------------------------------------------ Special styles */

.inline-block {
    display: inline-block;
}


/* ------------------------------------------------ Buttons */
.btn-signup {
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    width: 120px;
    float: right;
    margin-left: 20px;
}

.btn--red {
    color: black;
    background-color: red;
    border-color: red;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #b32101;
    border-color: #b32101;
}

/* ------------------------------------------------ Footer */

footer {
    padding: 0;
    background-color: black;
    color: red;
    font-size: 20px;
    min-height: 100px;
}

footer a {
    font-size: 20px;
    color: gray;
    text-align: center;
    padding: 5px;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

footer a:hover {
    color: orange;
}

.follow li a i {
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 23px;
    background: red;
    text-align: center;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.follow li a i:hover {
    background: gray;
    color: red;
}

.follow {
    height: 50px;
    margin: 0;
}

.list-inline-item {
    padding: 0;
    width: 35px;
    height: 35px;
}

#footer-edit {
    padding: 20px;
}





@media screen and (min-width: 576px) {
    .logo {
        width: 60%;
    }

    .welcome-container {
        background-position: 95% ;
    }
}


@media screen and (min-width: 992px) {
    .logo {
        width: 40%;
    }

    .welcome-container {
        background-position: 95% ;
    }
}

@media screen and (min-width: 1200px) {
    .band-member {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: relative;
    }

    .band {
        margin-bottom: 70px;
    }


}